body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    background-color: blue;
} 

.computer {
    margin: 0 auto;
    max-width: 100pxpx;
    margin 10px;
    
    
}

img {
     color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

h1 {
    color: #FFFFFF;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}